@use '../utilities/mixins';
@use '../utilities/variables';

html {
  body {
    h1 {
      text-align: center;
    }
    
    .log-inputs {
      height: 93vh;
      @include mixins.flex(column, center, center);
      
      input {
        width: 40em;
        margin-bottom: 1em;
      };
      
      select {
        width: 40em;
      };

      input[type="submit"] {
        margin-top: 1em;
      }
    }
  }
}